<div>
    <h1 class="display-4  pt-5">New File</h1>
    <p class="lead">Upload a new file</p>

    <button class="btn btn-primary btn-lg mb-3" (click)="AllFilesNav()">All Files</button>


    <form [formGroup]="newFileForm" (submit)="onSubmit()" class="mb-3">
        <div class="form-group">
            <input type="text" id="filename" placeholder="Enter filename" class="form-control col-6" formControlName="name">
        </div>
    

    <button class="btn btn-success" [disabled]="!newFileForm.valid" type="submit">Upload</button>
    
</form>
</div>