
    <div class="row border-top d-flex align-items-center">
        <div class="col-2">
            <img src="{{file | extensionPipe}}" width="32px" height="32px" alt="">
        </div>
        <div class="col-3">{{file.name}}</div>
        <div class="col-3">{{file.added}}</div>
        <div class="col-2">{{file.size}} MB</div>
        <div class="col">
            <div class="btn btn-primary btn-sm mr-2">
            <i class="fa fa-download fa-md"></i>
            </div>
            <div class="btn btn-danger btn-sm" (click)="deleteFile()">
            <i class="fa fa-times"></i>
            </div>
        </div>
    </div>
