.border {
    min-width: 200px;
    height: 600px;
    border-radius: 3px;
    background-color: rgb(248, 249, 250);
}

.erease {
    text-justify: auto;
    font-size: 30px !important;
    padding-top: 20px !important;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    text-align: center;
    grid-auto-rows: minmax(80px, auto);
    grid-auto-columns: minmax(80px, auto);
    padding-top: 33px;
}

.a {
    background-color: rgb(108, 117, 125);
    border-radius: 4px;
    border-style: none;
    height: 100%;
    font-size: 40px;
    padding-top: 15px;
    color: white;
    cursor: pointer;
}

.display {
    height: 123px;
}

input {
    font-family: VT323;
    font-size: 35px;
    color: rgb(0, 122, 251);
    text-shadow: 0px 0px 10px rgb(0, 122, 251);
    background-color: rgb(52, 58, 64);
    border-style: none;
}

input:focus {
    outline: none;
}

.zero {
    grid-column: 1/3;
}

.equal {
    padding-top: 50px !important;
    grid-column: 4;
    grid-row: 4/6;
    background-color: rgb(220, 53, 69);
}

.dark {
    background-color: rgb(52, 58, 64) !important;
}

form {
    background-color: rgb(52, 58, 64);
}