<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a href="#" class="navbar-brand">
      <img src="../assets/img/cloud.png" width="45px" height="30px" alt="logo">
      <h3 class="d-inline align-middle">ngCloud</h3>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="navbar-collapse collapse" id="navbarContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['files']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Files</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['files/profile']" routerLinkActive="active">
              <i class="fa fa-user"></i> 
              Hrvoje
            </a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">Logout</a>
          </li>
        </ul>
    </div>
  </nav>