html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------------------------ */

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.menu {
    background-color: rgb(51, 59, 70);
    flex: 0.11;
    display: flex;
    flex-direction: column;
    color: rgb(184, 187, 191);
}

.drop {
    background-color: rgb(68, 124, 172);
    flex: 0.11;
    flex-direction: column;
    color: white;
    display: flex;
}

.content {
    background-color: white;
    flex: 0.78;
    display: flex;
    height: 100% - 50px;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
}

.Inventura {
    flex: 0.06;
    display: flex;
    padding-left: 18px;
    justify-content: left;
    align-items: center;
    font-size: 17px;
    border-bottom: 2px solid rgba(40, 46, 56, 0.8);
}

.Inv-izbornik {
    flex: 0.94;
}

.Inv-izbornik > ul {
    display: flex;
    height: 100%;
    flex-direction: column;
    font-size: 12px;
    font-weight: bold;
}

.Inv-izbornik > ul > li {
    flex: 0.07;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-bottom: 1px solid rgba(40, 46, 56, 0.6);
    margin-left: 10px;
}

.Inv-izbornik > ul > li:hover {
    background-color: rgba(256, 256, 256, 0.1);
    margin-left: 0px !important;
    padding-left: 20px !important;
    border-top: 1px solid rgba(40, 46, 56, 0.8) !important;
    border-bottom: 1px solid rgba(40, 46, 56, 0.8) !important;
    margin-top: -1px;
}

.Inv-izbornik > ul > li > a {
    text-decoration: none;
    color: rgb(184, 187, 191);
}

.befactive {
    border-bottom: 0px !important;
}

.active {
    margin-left: 0px !important;
    padding-left: 20px !important;
    border-top: 1px solid rgba(40, 46, 56, 0.8) !important;
    border-bottom: 1px solid rgba(40, 46, 56, 0.8) !important;
}

.active1 {
    margin-left: 0px !important;
    padding-left: 20px !important;
    border-bottom: 1px solid rgba(40, 46, 56, 0.8) !important;
    background-color: rgba(256, 256, 256, 0.1);
}


img {
    padding-right: 8px;
    height: 16px;
}

.drop-inv {
    flex: 0.061;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 15px;
    font-size: 17px;
    border-bottom: 2px solid rgba(58, 114, 165, 0.8);
}

.drop-filter {
    display: flex;
    font-size: 7px;
    flex: 0.025;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 2px solid rgba(58, 114, 165, 0.8);
    color: rgb(124, 180, 204);
}

.drop-izb {
    flex: 0.914;
    display: flex;
    height: 100%;
}

.drop-izb > ul {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    font-size: 11px;
    font-weight: bold;
}

.drop-izb > ul > li {
    display: flex;
    flex-direction: column;
    flex: 0.07;
    justify-content: center;
    line-height: 15px;
    padding-left: 25px;
    border-bottom: 1px solid rgba(58, 114, 165, 0.8);
}

.drop-izb > ul > li:hover {
    background-color: rgba(256, 256, 256, 0.1);
}

.under {
    font-size: 7px;
    color: rgb(124, 180, 204);
}

.arrow {
    display: flex;
    height: 8px;
    padding-left: 4px;
    padding-right: 4px;
}

.headline {
    display: flex;
    flex: 0.1;
    flex-direction: row;
}

.subject {
    display: flex;
    flex-direction: row;
    flex: 0.9;
    color: rgb(102, 102, 102);
    font-size: 25px;
    align-items: flex-end;
    padding-left: 10px;
}

.button {
    display: flex;
    flex-direction: column;
    flex: 0.1;
    align-items: flex-end;
    padding-right: 20px;
}

button {
    font-size: 11px;
    font-weight: bold;
    background-color: rgb(240, 72, 72);
    border: none;
    border-radius: 5px;
    width: 57px;
    height: 24px;
    color: white;
    justify-items: flex-end;
}

.table1 {
    margin-top: 20px;
}

.table1-1 > table {
    height: 100%;
    width: 100%;
    border-top: 1px solid rgb(202, 202, 202);
    border-bottom: 1px solid rgb(202, 202, 202);
    line-height: 18px;
    background-color: rgb(242, 242, 242);
}

.table1-2 > table {
    height: 100%;
    width: 100%;
    border-bottom: 1px solid rgb(202, 202, 202);
    line-height: 18px;
    background-color: rgb(242, 242, 242);
}

.th1 {
    font-size: 6px;
    color: rgba(210, 210, 210, 0.8);
    text-align: left;
}

.table1-1 > table > thead > tr > th, td {
    padding-left: 15px;
    width: 50px;
}

.table1-2 > table > thead > tr > th {
    padding-left: 15px;
}

.td1 {
    text-align: left;
    color: rgba(102, 102, 102, 0.9);
    font-size: 7px;
    font-weight: bold;
    width: 200px;
}

.table2 > table {
    height: 100%;
    width: 100%;
    line-height: 50px;
    margin-top: 38px;
}

.th2, .td2 {
    border-bottom: 1px solid rgba(202, 202, 202, 0.4);
}

.th2 {
    color: rgba(194, 188, 188, 0.8);
    text-align: left;
    line-height: 20px !important;
    font-size: 10px;
}

.td2 {
    text-align: left;
    color: rgba(102, 102, 102, 0.9);
    padding-left: 10px;
    font-size: 9px;
    width: 200px;
}

.c-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.c-container {
    display: block;
    position: relative;
    cursor: pointer;

}

.checkmark {
    position: absolute;
    top: 23px;
    height: 10px;
    width: 10px;
    border-radius: 3px;
    background-color: white;
    border: 1px solid rgba(202, 202, 202, 0.9);
}

.c-container:hover input ~ .checkmark {
    background-color: gray;
}

.c-container input:checked ~ .checkmark {
    background-color: rgb(59, 153, 252);
}

.checkmark:after {
    content: "";
    position: relative;
    display: none;
}

.c-container input:checked ~ .checkmark:after {
    display: block;
}

.c-container .checkmark:after {
    left: 3px;
    width: 3px;
    height: 6px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}

