/* You can add global styles to this file, and also import other style files */
.d-inline {
    font-size: 20px !important;
    padding-left: 5px;
}

html, body {
    height: 100% !important;
}

.container {
    height: 100% !important;
}

.active {
    color: white;
}