<div>

    <h1 class="display-4  pt-5">Files</h1>
    <p class="lead">Upload & download your files</p>

    <button class="btn btn-primary btn-lg" (click)="NewFileNav()">New file</button>

    <div class="files">

        <div class="row py-2 bg-dark text-white mt-3 ">
            <div class="col-2"></div>
            <div class="col-3">
                Name
            </div>
            <div class="col-3">
                Added
            </div>
            <div class="col-2">
                Size
            </div>
        </div>

        <app-file *ngFor="let f of filesSubject | async" [file]="f" (deleteClick)="deleteFile(f)"></app-file>
        
    </div>
</div>